{% extends "index2.html" %}

{% block content %}
    <h1>Миссия Колонизация Марса</h1>

    {% if profession == "инженер" or profession == "строитель" %}
        <h2>Инженерные симуляторы</h2>
        <img src="https://lh3.googleusercontent.com/proxy/1fDo9QKPkFBFHXnNkdyNlH1qhIIV0OfVmgi_Cs3dqnmJkNpEgje2arfgVnQQRHrkSRtUWNEXTN_x95Srpbh6fMA" alt="">
    
     {% else %}
        <h2>Научные симуляторы</h2>
        <img src="https://lh3.googleusercontent.com/proxy/X1iR2LAKdEr85tpgsJKdhBBKumu7jiNBIrFWU-3LJj8jGPto_IzB5-ClcPCA1qMyRbv7yWkxk8cgqgZiuh4pjMJyX6GNuXdjPYfd6qej4aUD" alt="">
    {% endif  %}
{% endblock %}